  <svg>
      <defs>
	   <pattern id="image" x="0" y="0" patternUnits="userSpaceOnUse" height="50" width="50">
            <image x="0" y="0" height="20" width="20" xlink:href="../images/serverRunning.jpg"/>
        </pattern>
        <g id="vertex-Node">
          <circle id="top" r="15" fill="url(#image)"/>
          <text y="6">Node</text>
        </g>
        <g id="vertex-Pod">
          <circle r="15" stroke="black" fill="url('/images/DockerImageRunning.png')"></circle>
          <text y="6">Pod</text>
        </g>
      </defs>
    </svg>
	
<kubernetes-topology-graph items="my_items" relations="my_relations" kinds="my_kinds">
</kubernetes-topology-graph>